:root .themeAdwaitaDark {
    --wdr-main-color: white;
    --wdr-main-background-color: #353535;
    --wdr-button-background-color: #353535;
    --wdr-button-color: white;
    --wdr-button-hover-background-color: #4b4b4b;
    --wdr-button-active-background-color: #242424;   
    --wdr-button-focus-color: rgb(126, 126, 126);    
    --wdr-button-bordercolor: black;
    --wdr-button-borderstyle: solid;
    --wdr-button-buttomradius: 10px;
    --wdr-button-outlinestyle: solid;
    --wdr-button-outlineoffset: -2px;
    --wdr-input-selection-color: #3584e4;
}

.App.themeAdwaitaDark {
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 85%;
}


