:root .themeAdwaitaDark {
    --wdb-main-color: white;
    --wdb-main-background-color: #353535;
    --wdb-button-background-color: #353535;
    --wdb-button-color: white;
    --wdb-button-hover-background-color: #4b4b4b;
    --wdb-button-active-background-color: #242424;   
    --wdb-button-margin: 20px 0px 0px 0px;
    --wdb-button-flexgrow: 1;
    --wdb-button-marginleft: 0px;
    --wdb-button-focus-color: rgb(126, 126, 126);    
    --wdb-button-cornerradius: 0px;
    --wdb-button-bordercolor: black;
    --wdb-button-borderstyle: solid;
    --wdb-button-borderwidth: 1px 0px 1px 1px;
    --wdb-button-first-borderwidth: 0px;
    --wdb-button-buttomradius: 5px;
    --wdb-button-padding: 10px 15px;
    --wdb-button-outlinestyle: dotted;
    --wdb-button-outlineoffset: -2px;
    --wdb-input-selection-color: #3584e4;
}

body.themeAdwaitaDark {
    background-color: rgb(20, 20, 20);
    color: white;
}


