:root .themeAdwaita {
    --wdr-button-background-color: #ebebeb;
    --wdr-button-color: black;
    --wdr-button-padding: 5px 25px;
    --wdr-button-hover-background-color: #dcdcdc;
    --wdr-button-active-background-color: #bebebe;   
    --wdr-button-focus-color: blue;    
    --wdr-button-bordercolor: lightgray;
    --wdr-button-borderstyle: solid;
    --wdr-button-cornerradius: 5px;
    --wdr-button-outlinestyle: solid;
    --wdr-button-outlineoffset: 0px;
    --wdr-input-selection-color: #3584e4;
}

.App.themeAdwaita {
    font-size: 85%;
}


