:root .themeAdwaitaDark {
    --wdr-main-color: white;
    --wdr-main-background-color: #353535;
    --wdr-button-background-color: #454545;
    --wdr-button-color: white;
    --wdr-button-padding: 5px 25px;
    --wdr-button-hover-background-color: #4f4f4f;
    --wdr-button-active-background-color: #6e6e6e;   
    --wdr-button-focus-color: rgb(126, 126, 126);    
    --wdr-button-bordercolor: black;
    --wdr-button-borderstyle: solid;
    --wdr-button-cornerradius: 5px;
    --wdr-button-outlinestyle: solid;
    --wdr-button-outlineoffset: 0px;
    --wdr-input-selection-color: #3584e4;
    --wdr-cancel-hover-color: white;
    --wdr-cancel-active-color: white;
    --wdr-cancel-color: white;
    --wdr-cancel-background-color: #353535;
    --wdr-cancel-background-hover-color: #4b4b4b;
    --wdr-cancel-background-active-color: #242424;
}

.App.themeAdwaitaDark {
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 85%;
}


