:root .themeWindowsDark {
    --wdr-main-color: white;
    --wdr-main-background-color: #353535;
    --wdr-button-background-color: #353535;
    --wdr-button-color: white;
    --wdr-button-hover-background-color: #4b4b4b;
    --wdr-button-active-background-color: #242424;   
    --wdr-button-focus-color: rgb(126, 126, 126);    
    --wdr-button-bordercolor: black;
    --wdr-button-borderstyle: solid;
    --wdr-button-buttomradius: 10px;
    --wdr-button-outlinestyle: solid;
    --wdr-input-selection-color: #3584e4;

    --wdr-cancel-border-radius: 0px 10px 0px 0px;
    --wdr-cancel-margin-right: 0px;
    --wdr-cancel-margin-top: 0px;
    --wdr-cancel-padding: 6px 10px;
    --wdr-cancel-hover-color: white;
    --wdr-cancel-active-color: white;
    --wdr-cancel-color: white;
    --wdr-cancel-background-color: #353535;
    --wdr-cancel-background-hover-color: red;
    --wdr-cancel-background-active-color: rgb(255, 89, 89);
}

.App.themeWindowsDark {
    background-color: rgb(20, 20, 20);
    color: white;
}
