:root {
    --wdr-main-color: black;
    --wdr-main-background-color: white;
    --wdr-fader-color: rgba(0, 0, 0, 0.50); 
    --wdr-animation-duration: 0.3s;
    --wdr-buttons-gap: 5px;
    --wdr-buttons-float: right;
    --wdr-button-font-weight: bold;
    --wdr-button-margin: 20px 30px 30px 30px;
    --wdr-button-background-color: blue;
    --wdr-button-color: white;
    --wdr-button-padding: 2px 7px;
    --wdr-button-cornerradius: 3px;
    --wdr-button-bordercolor: transparent;
    --wdr-button-borderstyle: none;
    --wdr-button-borderwidth: 0px;    
    --wdr-button-default-color: white;
    --wdr-button-default-background-color: #3584e4;
    --wdr-button-default-background-hover-color: #4990e7;
    --wdr-button-default-background-active-color: #2a6ab6;
    --wdr-button-hover-background-color: #7979ff;
    --wdr-button-active-background-color: #01018e;
    --wdr-button-focus-color: blue;
    --wdr-button-outlinestyle: solid;
    --wdr-button-outlineoffset: 1px;    
    --wdr-input-selection-color: blue;
    --wdr-cancel-border-radius: 18px;
    --wdr-cancel-margin-right: 10px;
    --wdr-cancel-margin-top: 10px;
    --wdr-cancel-padding: 3px 7px;
    --wdr-cancel-color: black;
    --wdr-cancel-hover-color: black;
    --wdr-cancel-active-color: black;
    --wdr-cancel-background-color: #e6e6e6;
    --wdr-cancel-background-hover-color: #dcdcdc;
    --wdr-cancel-background-active-color: #bebebe;
}

.wdr--dialogroot {
    position: fixed;
    width: 100%;
    height: 100%;
}

.wdr--fader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 1;
    background-color: var(--wdr-fader-color);
    transition: opacity var(--wdr-animation-duration);
}

.hidden .wdr--fader {
    opacity: 0;
}

.wdr--container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0%);
    transition: transform var(--wdr-animation-duration);
}

.wdr--container.leftTranslated {
    transform: translateX(-50%);
}
.wdr--container.rightTranslated {
    transform: translateX(50%);
}

.wdr--dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-radius: 10px;
    color: var(--wdr-main-color);
    background-color: var(--wdr-main-background-color);
    z-index: 10;
    box-shadow: 5px 4px 8px 2px rgb(0 0 0 / 35%), 0px 0px 20px 2px rgb(0 0 0 / 25%);
    transition: opacity var(--wdr-animation-duration);
}

.wdr--dialog.fullscreen{
    width: 100%;
    height: 90%;
}

.hidden .wdr--dialog {
    opacity: 0;
}

.wdr--content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 30px 0px 30px;
}

.wdr--buttons {
    display: grid;
    grid-column-gap: var(--wdr-buttons-gap);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: var(--wdr-button-margin);
    float: var(--wdr-buttons-float);
}

.wdr--button {
    font-weight: var(--wdr-button-font-weight);
    min-width: 40px;
    background-color: var(--wdr-button-background-color);
    outline-color: var(--wdr-main-background-color);
    user-select: none;
    color: var(--wdr-button-color);
    text-align: center;
    padding: var(--wdr-button-padding);
    transition: background-color var(--wdr-animation-duration), outline-color 400ms;
    border-color: var(--wdr-button-bordercolor);
    border-style: var(--wdr-button-borderstyle);
    border-width: var(--wdr-button-borderwidth);    
}

.wdr--cancel {
    position: absolute;
    user-select: none;
    right: 0px;
    top: 0px;
    
    font-size: 12px;
    font-weight: bold;
    margin-right: var(--wdr-cancel-margin-right);
    margin-top: var(--wdr-cancel-margin-top);
    padding: var(--wdr-cancel-padding);    
    color: var(--wdr-cancel-color);
    background-color: var(--wdr-cancel-background-color);
    text-align: center;
    transition: color, var(--wdr-animation-duration), background-color var(--wdr-animation-duration), outline-color 400ms;
}

.wdr--cancel:hover {
    color: var(--wdr-cancel-hover-color);
    background-color: var(--wdr-cancel-background-hover-color);
}

.wdr--cancel:active {
    color: var(--wdr-cancel-active-color);
    background-color: var(--wdr-cancel-background-active-color)
}

.wdr--button:hover {
    background-color: var(--wdr-button-hover-background-color);
}     
.wdr--button:active, .buttonActive {
    background-color: var(--wdr-button-active-background-color);
}
.wdr--button.default {
    color: var(--wdr-button-default-color);
    background-color: var(--wdr-button-default-background-color);
    outline-color: var(--wdr-button-default-background-color);
    outline-width: 0px;
    outline-style: var(--wdr-button-outlinestyle);
    outline-offset: var(--wdr-button-outlineoffset);
}
.wdr--button.default:hover {
    background-color: var(--wdr-button-default-background-hover-color);
}

.wdr--buttons > div {
    border-radius: var(--wdr-button-cornerradius);
}

.wdr--buttons > .wdr--cancel {
    border-radius: var(--wdr-cancel-border-radius);
}

.wdr--button:focus {
    outline-color: var(--wdr-button-focus-color);
    outline-width: 1px;
    outline-style: var(--wdr-button-outlinestyle);
    outline-offset: var(--wdr-button-outlineoffset);
}                         

.wdr--button.default:focus {
    outline-width: 1px;
    outline-offset: 1px;
}

.wdr--button.default:active {
    background-color: var(--wdr-button-default-background-active-color);
}

.wdr--input {
    background-color: var(--wdr-main-background-color);
    color: var(--wdr-main-color);
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

.wdr--input:focus {
    outline-color: var(--wdr-input-selection-color);
    border-color: transparent;
    outline-width: 1px;
    outline-style: solid;
}

.wdr--input::selection {
    color: white;
    background-color: var(--wdr-input-selection-color);
}       