:root {
    --wdr-main-color: black;
    --wdr-main-background-color: white;
    --wdr-fader-color: rgba(0, 0, 0, 0.50); 
    --wdr-animation-duration: 0.3s;
    --wdr-button-margin: 20px 30px 30px 30px;
    --wdr-button-marginleft: 5px;
    --wdr-button-flexgrow: 0;
    --wdr-button-background-color: blue;
    --wdr-button-color: white;
    --wdr-button-padding: 2px 7px;
    --wdr-button-cornerradius: 3px;
    --wdr-button-bordercolor: transparent;
    --wdr-button-borderstyle: none;
    --wdr-button-borderwidth: 0px;    
    --wdr-button-hover-background-color: #7979ff;
    --wdr-button-active-background-color: #01018e;
    --wdr-button-focus-color: blue;
    --wdr-button-outlinestyle: solid;
    --wdr-button-outlineoffset: 1px;
}

.wdr--dialogroot {
    position: fixed;
    width: 100%;
    height: 100%;
}

.wdr--fader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 1;
    background-color: var(--wdr-fader-color);
    transition: opacity var(--wdr-animation-duration);
}

.hidden .wdr--fader {
    opacity: 0;
}

.wdr--container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0%);
    transition: transform var(--wdr-animation-duration);
}

.wdr--dialog {
    display: flex;
    margin: 30px;
    flex-direction: column;
    border-radius: 5px;
    color: var(--wdr-main-color);
    background-color: var(--wdr-main-background-color);
    z-index: 10;
    box-shadow: 5px 4px 8px 2px rgb(0 0 0 / 35%), 0px 0px 20px 2px rgb(0 0 0 / 25%);
    transition: opacity var(--wdr-animation-duration);
}

.hidden .wdr--dialog {
    opacity: 0;
}

.wdr--content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 30px 0px 30px;
}

.wdr--buttons {
    display: flex;
    margin: var(--wdr-button-margin);
}

.wdr--button {
    display: inline-block;
    flex-grow: var(--wdr-button-flexgrow);
    background-color: var(--wdr-button-background-color);
    outline-color: var(--wdr-main-background-color);
    user-select: none;
    color: var(--wdr-button-color);
    text-align: center;
    padding: var(--wdr-button-padding);
    /* line-height: 20px; */
    transition: background-color var(--wdr-animation-duration), outline-color 400ms;
    border-radius: var(--wdr-button-cornerradius);
    margin-left: var(--wdr-button-marginleft);
    border-color: var(--wdr-button-bordercolor);
    border-style: var(--wdr-button-borderstyle);
    border-width: var(--wdr-button-borderwidth);    
}

.wdr--button:hover {
    background-color: var(--wdr-button-hover-background-color);
}     
.wdr--button:active, .buttonActive {
    background-color: var(--wdr-button-active-background-color);
}
.wdr--button.default {
    outline-color: gray;
    outline-width: 1px;
    outline-style: var(--wdr-button-outlinestyle);
    outline-offset: var(--wdr-button-outlineoffset);
}
.wdr--button:focus {
    outline-color: var(--wdr-button-focus-color);
    outline-width: 1px;
    outline-style: var(--wdr-button-outlinestyle);
    outline-offset: var(--wdr-button-outlineoffset);
}                         